<!DOCTYPE html>

<html>

<head>

	<link rel="stylesheet" type="text/css" href="/css/man_style.css">

​

<script language="javascript">
<!--//
/*This Script allows people to enter by using a form that asks for a
UserID and Password*/
function pasuser(form) {
if (form.id.value=="Cityneon") { 
if (form.pass.value=="Cityneon") {              
location="/update_csv" 
} else {
alert("Invalid UserId or Password")
}
} else {  alert("Invalid UserID or Password")
}
}
//-->
</script>

​

<title>City Wholesale Management</title>

</head>

<body>

<br><br><br><br><br><br>

​

<center>

<div class="login>
<table bgcolor="blue" cellpadding="12" border="1">
<tr><td colspan="2"><center><h1><i><b>Login
Area</b></i></h1></center></td></tr>
<tr><td><h1><i><b>UserID:</b></i></h1></td><td><form name="login"><input
name="id" type="text"></td></tr>
<tr><td><h1><i><b>Password:</b></i></h1></td><td><input name="pass"
type="password"></td></tr><p>
<tr><td><center><input type="button" value="Login"
onClick="pasuser(this.form)"></center></td><td><center><br><input
type="Reset"></form></td></tr></table></center> 
</div>
<br><br><br><br>
<footer>
  
  
</footer>  
</body>
</html>
