<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" src="/css/normalize-css.googlecode.com/svn/trunk/normalize.css" /> 
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<title>Portfolio</title>
</head>
<body>
    <div id="slideshow">
	<a name="featured" id="featured"></a>
    <h1>Featured Work</h1>
      <div id="ssouter">
        <img class="slideshow current" src="images/EVANSDALE PYLON 1.png" alt="WV sign">
        <img class="slideshow" src="images/park.jpg" alt="park sign">
        <img class="slideshow" src="images/jones.jpg" alt="Jones Plaza">
        <img class="slideshow" src="images/DSC00542.jpg" alt="WV">
      </div>
    </div>
	
    <div id="portfolio">
    <a name="boxCabinet" id="boxCabinet"></a>
	<h1>Box Cabinet </h1>
        <ul id="boxCabinet">
            <li><a href="images/fea_cab.png"><img src="images/fea_cab.png" width="110" alt=""></a></li>
            <li><a href="images/IMG_1421.JPG"><img src="images/IMG_1421.JPG" width="110" alt=""></a></li>
           
            
        </ul>
       <a name="channelLetters" id="channelLetters"></a> 
      <h1>Channel Letters </h1>
        <ul id="channelLetters">
            <li><a href="images/image2.jpg"><img src="images/image2.jpg" width="110" alt=""></a></li>
            <li><a href="images/fea_chan.png"><img src="images/fea_chan.png" width="110" alt=""></a></li>
            <li><a href="images/DSC00596.JPG"><img src="images/DSC00596.JPG" width="110" alt=""></a></li>
            <li><a href="images/DSC00579.JPG"><img src="images/DSC00579.JPG" width="110" alt=""></a></li>
            
        </ul> 
        <a name="customsignage" id="customsignage"></a>
        <h1>Custom Signage </h1>
        <ul id="customSignage">
            <li><a href="images/IMG_1270.jpg"><img src="images/IMG_1270.jpg" width="110" alt=""></a></li>
            <li><a href="images/west entrance.png"><img src="images/west entrance.png" width="110" alt=""></a></li>
            <li><a href="images/pole.jpg"><img src="images/pole.jpg" width="110" alt=""></a></li>
            <li><a href="images/DSC00601.JPG"><img src="images/DSC00601.JPG" width="110" alt=""></a></li>
            
        </ul>
		</ul> 
        <a name="postandpanel" id="postandpanel"></a>
        <h1>Post & Panel </h1>
        <ul id="postandpanel">
            <li><a href="images/mses.jpg"><img src="images/mses.jpg" width="110" alt=""></a></li>
            <li><a href="images/davis.jpg"><img src="images/davis.jpg" width="110" alt=""></a></li>
            <li><a href="images/IMG_1283.jpg"><img src="images/IMG_1283.jpg" width="110" alt=""></a></li>
            <li><a href="images/DSC00854.JPG"><img src="images/DSC00854.JPG" width="110" alt=""></a></li>
            
        </ul>
        
    </div>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/slideshow.js"></script>
</body>
</html>










