		<section id="submission">
			<h3>Thank you for your interest in our Products!</h3>
			<p>
				Your quote request has been submitted.  A City Wholesale representative will be contacting you within a few business days.
			</p>
			<p>
			  You should receive a email with your quote shortly.  If you do not receive it, please call us at 304-999-9999.
			</p>
		</section>